.open-new-btn {
    -fx-padding: 8px 13px 3px;
    -fx-background-insets: 5px 10px 0;
    -fx-font-size: 14.0;
    -fx-font-weight: bold;
    -fx-background-color: #FFF2DA;
    -fx-text-fill: #86CCA5;
}

.open-new-btn:hover {
    -fx-background-color: #86CCA5;
    -fx-opacity: 0.7;
    -fx-text-fill: #FFF2DA;
    -fx-cursor: hand;
}

.most-recent-item {
    -fx-padding: 0 20px 5px;
    -fx-border-width: 5px;
    -fx-max-width: Infinity;
}

.most-recent-item:hover {
    /*-fx-opacity: 0.6;*/
    -fx-background-color: #d7aff1;
    -fx-cursor: hand;
}

.most-recent-name {
    -fx-text-fill: #9A75B2;
    -fx-font-size: 15.0;
    -fx-font-weight: bold;
}

.most-recent-path {
    -fx-text-fill: #9A75B2;
    -fx-font-size: 12.0;
}

.most-recent-container {
    -fx-background-insets: 0 0 -20px 0;
    -fx-background-color: #E7C1FF;
    -fx-background-radius: 20px;
}

.header-container {
    -fx-max-width: Infinity;
}

.heading {
    -fx-padding: 0 0 0 10px;
    -fx-font-size: 20.0;
    -fx-font-weight: bolder;
    -fx-text-fill: #7EB295;
    -fx-text-alignment: left;
    -fx-pref-width: 400px;
    -fx-max-width: Infinity;
}

.scene-container {
    -fx-background-color: #FFF2DA;
    -fx-font-family: "Comic Sans MS";
}

.most-recent-heading {
    -fx-padding: 10px 20px;
    -fx-font-size: 18.0;
    -fx-font-weight: bold;
    -fx-text-fill: #E7C1FF;
    -fx-background-color: #9A75B2;
    -fx-background-radius: 20px 20px 0 0;
    -fx-max-width: Infinity;
}